.DS_Store
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

data/expert/*
!data/expert/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/expert/*
!models/expert/.gitkeep
models/imitation/*
!models/imitation/.gitkeep
results/logs/*
!results/logs/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep

